.container {max-width: 36rem; margin: 8.6rem auto; padding: 0 2rem;}


.profile-header {
  display: flex; justify-content: space-between; align-items: center; height: 5rem; box-shadow: 1px -1px 6px 0px rgba(166, 180, 200, 0.15); margin-bottom: 3.6rem;
  &__title {font-size: 1.6rem; font-weight: 400;}
  .btn_search {width: 2rem; height: 2rem;}
}

.profile-box {
  display: flex; justify-content: flex-start; align-items: center; gap: 1.6rem; margin-bottom: 2.4rem;
  &__img {width: 8rem; height: 8rem; overflow: hidden; border-radius: 4rem;}
  &__user {flex: 1;}
  &__username {font-size: 1.6rem;}
  &__email {font-size: 1.2rem; color: #aaa;}
  &__btn {
    color: #000;
    &:visited {color: #000;}
  }
  .btn_arrowforward {width: 2rem; height: 2rem;}
}

.skill-tag-box {display: flex; justify-content: flex-start; align-items: center; gap: .3rem; margin-bottom: 3.6rem;}
.skill-tag-box__item {}

// .skill-tag {
//   height: 2.3rem; color: #000; font-size: 1.1rem; font-weight: 700; padding: .4rem .8rem; border-radius: .5rem;
//   &--js {background: #F7DF1E; color: #000;}
//   &--ts {background: #3178C6; color: #fff;}
//   &--react {background: #02D9FF; color: #fff;}
//   &--figma {background: #f24515; color: #fff;}
//   &--html {background: #dd4b25; color: #fff;}
//   &--css {background: #264ce0; color: #fff;}
//   &--scss {background: #fd1b1b; color: #fff;}
// }

.status-box {border: .1rem solid #F2F1F6; border-radius: 1rem; margin: 0 2rem 1.6rem; box-shadow: .1rem -.1rem .6rem 0 #A6B4C826;}
.status {
  display: flex; justify-content: space-around; padding: 1.5rem 2rem;
  &__item {display: flex; flex-direction: column; justify-content: center; text-align: center; gap: .6rem;}
  &__info {
    font-size: 2.4rem; font-weight: 700; line-height: 2.9rem; color: #aaa;
    &--like {color: #FB744A;}
    &--studing {color: #FBD44A;}
    &--complate {color: #0396FC;}
  }
  &__desc {font-size: 1.2rem; line-height: 1.4rem; color: #aaa;}
}

.groupBox {
  &__title {font-size: 1.6rem; line-height: 5rem; font-weight: 400; color: #aaa; margin: 1.4rem 0 1.6rem; border-bottom: 1px solid #F2F1F6;}
}

.tabBox {margin-bottom: 2.4rem; border-bottom: .1rem solid #F2F1F6;}
.tabs {
  display: flex; justify-content: flex-start; align-items: center; height: 4rem; gap: 2.2rem; padding: 0 2rem;
  &__menu {
    font-size: 1.6rem; color: #aaa; line-height: 4rem;
    &:hover {color: #000; border-bottom: .1rem solid #000;}
    &.active {color: #000; border-bottom: .1rem solid #000;}
  }
}

.comment-list {
  display: flex; flex-direction: column; gap: 1.6rem;
  &__item {display: flex; gap: .9rem; border: .1rem solid #F2F1F6; border-radius: 1rem; margin: 0 2rem; box-shadow: .1rem -.1rem .6rem 0 #A6B4C826; padding: 1.6rem;}
  &__img{width: 4rem;}
  &__wrap {display: flex; justify-content: flex-start; align-items: center; gap: 1rem; margin-bottom: 1rem;}
  &__username {font-size: 1.4rem; line-height: 1.7rem; font-weight: 700;}
  &__date {font-size: 1.1rem; line-height: 1.4rem; color: #aaa;}
  &__comment {font-size: 1.4rem; line-height: 1.8rem;}
}

.planDate {
  display: flex; align-items: center; gap: .4rem; margin-bottom: 1.6rem;
  &__day {font-size: 1.6rem; font-weight: 700;}
  &__week {font-size: 1rem;}
  &__dday {font-size: 1.1rem; color: #0396FC; font-weight: 700;}
}
.planList {
  &__item {display: flex; gap: 1.3rem; margin-bottom: 1.6rem; padding: 1.6rem; border: .1rem solid #F2F1F6; border-radius: 1rem; box-shadow: 1px -1px 6px 0px #A6B4C826;}
  &__img {width: 10.5rem; height: 10.5rem; overflow: hidden; border-radius: 1rem;}
  &__title {font-size: 1.4rem;}
  &__date {font-size: 1.2rem;}
  &__week {font-size: 1.2rem;}
  &__time {font-size: 1.2rem;}
  &__place {font-size: 1.2rem;}
  &__price {font-size: 1.2rem;}
  &__person {
    font-size: 1.2rem;
    &__blue {color: #0396FC;}
  }

}