.join {
  margin: 5rem 0; padding: 3.6rem 2rem 1.6rem;

  &__title {margin-bottom: 3.6rem; font-size: 2.4rem; letter-spacing:-.05em;}

  .recaptcha {margin-bottom: 8.2rem;}

  .select-box {
    &--figma:checked+label {background-color: #cc775a; color: #fff;}
    &--html:checked+label {background-color: #f15a29; color: #fff;}
    &--css:checked+label {background-color: #0396fc; color: #fff;}
    &--scss:checked+label {background-color: #cf649b; color: #fff;}
    &--javascript:checked+label {background-color: #f7df1e; color: #000;}
    &--react:checked+label {background-color: #02d9ff; color: #fff;}
    &--vue:checked+label {background-color: #435466; color: #4dba87;}
    &--typescript:checked+label {background: #3178c6; color: #fff;}
    
    &--planner:checked+label {background: #9dde41; color: #fff;}
    &--designer:checked+label {background: #c6a631; color: #fff;}
    &--developer:checked+label {background: #9e31c6; color: #fff;}

    &:checked+label {border: 1px solid transparent;}
  }
  
}