.login {
    position: relative; height: 100vh;

    &__inner {position: absolute; top: 50%; transform: translateY(-50%); width: 100%; padding: 0 2rem;}

    .logo {display: block; width: 14.6rem; margin: 0 auto 7rem;}

    .form-box {margin-bottom: 1.6rem;}

    .register {
        display: flex; align-items: center; justify-content: center; margin-bottom: 4.8rem;

        &__btn {
            padding: 0 1.2rem; border-right: 1px solid #c1c1c1; font-size: 1.4rem; color: #c1c1c1;
        
            &:last-child {border-right: none;}
        }
    }

    .sns {
        text-align: center;

        &__title {
            margin-bottom: 1.6rem; font-size: 1.4rem;

            &--bold {font-size: 1.4rem; font-weight: 900;}
        }
        &__btn {display: flex; align-items: center; justify-content: center; gap: 3rem;}
        &__item {width: 5rem; height: 5rem;}
    }
}