.success {
  position: relative; height: 100vh;

  &__inner {position: absolute; top: 50%; transform: translateY(-50%); width: 100%;}

  .text {
    text-align: center; padding-bottom: 6.6rem;

    &__logo {width: 13.6rem; margin-bottom: 1.2rem;}
    &__title {margin-bottom: 3rem; font-size: 2.8rem;}
    &__desc {font-size: 1.6rem; color: #aaa;}
  }
}