.creation {
    margin: 5rem 0 17.6rem; padding: 3.6rem 2rem 0;

    input,
    .input-box--img,
    .input-box .input-label,
    .input-textarea,
    .input-check label {cursor: pointer;}
    
    .input-box {
        display: flex; align-items: start; gap: .8rem;

        // 이미지 등록
        &--img {
            width: 32rem; height: 21.3rem; margin: 0 auto 3.6rem; border-radius: 1rem; border: .1rem solid #f2f1f6; color: #ccc; overflow: hidden;

            .input-label.input-label--img {
                display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 1.6rem; height: 100%; margin: 0 auto; text-align: center; font-size: 1.2rem; color: #ccc;
            
                svg.input-label__icon {margin: 0; font-size: 4.8rem;}
            }
            .input-write {display: none;}
            img {width: 32rem; height: 21.3rem; object-fit: cover;}
        }
        
        &__range {line-height: 3.6rem;}
        
        .input-label {
            position: relative; color: #656668;
            
            &--require::before {content: '*'; position: absolute; top: .4rem; right: 0;}
            svg {margin: 1rem .8rem 0 0;}
        }

        // 소개글
        .input-textarea {height: 21.3rem; resize: none; line-height: 1.4;}
    
        // 주요기술
        .input-check {
            display: flex; align-items: center; flex-wrap: wrap; gap: .4rem; margin-bottom: 1.6rem;

            &__item {
                // &--html+label {border: .1rem solid #f15a29; color: #f15a29;}
                // &--css+label {border: .1rem solid #1775BC; color: #1775BC;}
                // &--scss+label {border: .1rem solid #cf649b; color: #cf649b;}
                // &--javascript+label {border: .1rem solid #f7df1e; color: #000;}
                // &--react+label {border: .1rem solid #02d9ff; color: #02d9ff;}
                // &--vue+label {border: .1rem solid #435466; color: #4dba87;}
                // &--typescript+label {border: .1rem solid #3178c6; color: #3178c6;}

                &--html:checked+label {background-color: #f15a29; color: #fff;}
                &--css:checked+label {background-color: #0396fc; color: #fff;}
                &--scss:checked+label {background-color: #cf649b; color: #fff;}
                &--javascript:checked+label {background-color: #f7df1e; color: #000;}
                &--react:checked+label {background-color: #02d9ff; color: #fff;}
                &--vue:checked+label {background-color: #435466; color: #4dba87;}
                &--typescript:checked+label {background: #3178c6; color: #fff;}
                &--dart:checked+label {background: #00cbb2; color: #fff;}
                &--flutter:checked+label {background: #5dc2ed; color: #fff;}
                &:checked+label {border: 1px solid transparent;}
            }

            input {display: none;}
            label {padding: 0.4rem 0.8rem; border-radius: 0.5rem; font-size: 1.2rem; font-weight: 700; border: 1px solid #e5e5e5; color: #ccc;}
        }
    }

    .btn {position: fixed; bottom: 5rem; padding: .8rem 2rem; box-shadow: 0.1rem -0.1rem 0.6rem rgba(166, 180, 200, 0.3);}
}