.nav {
  position: fixed; bottom: 0; left: 0; width: 100%;

  &__list {display: flex; align-items: center; justify-content: space-between; width: 100%; height: 5rem; padding: 0 2rem;}
  &__item {display: flex; flex-direction: column; gap: .3rem;}
  &__icon {font-size: 3.5rem;}
  &__btn {font-size: 1.2rem;}
  
  a {color: #c1c1c1;}
  .on {color: #0396fc;}
}