.list_tit{
    display: flex; align-items: center; gap: 16px; padding-left: 20px; margin-top: 50px; border-bottom: 1px solid #F2F1F6; height: 50px; font-size: 16px;
}

.select{
    display: flex; align-items: center; justify-content: space-between; padding: 0 20px 0; height: 50px;
    .whole_num{
        font-size: 11px; color: #999999;
        &__count{
            font-size: 14px; font-weight: 700;
        }
    }
    .filter{display: flex; font-size: 11px; color: #999999; gap: 30px;
        &__popup{
            margin-right: 14px; cursor: pointer;
        }

    }

    /* 모달*/
    .modal_overlay {
        z-index: 99; position: fixed; top: 0; left: 0; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;  background-color: rgba(0, 0, 0, 0.5); 
    }
    /* 모달 컨텐츠 스타일 */
    .modal_content {
        z-index: 100; position: relative; background-color: white; padding: 14px; border-radius: 8px; width: 320px; height: 583px; text-align: center; box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
        .modal_tit{
            font-size: 16px; text-align: left; color: #000;
        }
        .modal_btn{
            position: absolute; top: 14px; right: 18px;
        }
        .filter_inner{
            text-align: left; color: #000; margin-top: 23px; font-size: 14px;

            .inner01{
                .options_container{
                    display: flex; gap: 8px; margin-top: 6px;
                    .option_box{
                        border: 1px solid #e5e5e5; border-radius: 5px; color: #e5e5e5; padding: 4px 8px 4px 8px; font-size: 16px;
                    }
                    .selected{background-color: #0396FC; color: #fff;}
                }
            }
            .inner02{
                margin-top: 24px;
                .options_container{
                    display: flex; gap: 6px; margin-top: 6px; flex-wrap: wrap;
                    .option_box{
                        border: 1px solid #e5e5e5; border-radius: 5px; color: #e5e5e5; padding: 4px 8px 4px 8px; font-size: 16px;
                    }
                    .selected1{background-color: #0396FC; color: #fff;}
                    .selected2{background-color: #FBD44A; color: #fff;}
                    .selected3{background-color: #CF649B; color: #fff;}
                    .selected4{background-color: #F7DF1E; color: #fff;}
                    .selected5{background-color: #3178C6; color: #fff;}
                    .selected6{background-color: #61DAFB; color: #fff;}
                    .selected7{background-color: #80BD01; color: #fff;}
                    .selected8{background-color: #EC2025; color: #fff;}
                    .selected9{background-color: #FF7161; color: #fff;}
                    .selected10{background-color: #FF61F6; color: #fff;}
                }
            }
            .commit{position: absolute; bottom: 20px; left: 50%; transform: translateX(-50%); width: 280px; height: 50px; background-color: #fff; border: 2px solid #0396FC; border-radius: 10px; color: #0396FC;} 
        }
    }

}


.list{width: 100%; height: 100%; margin-top: 16px; margin-bottom: 50px;
    .list__wrapper{    
        display: flex; flex-direction: column; gap: 8px;
        .list__box{
            width: 320px; height: 202px; border: 1px solid #F2F1F6; border-radius: 10px; margin: 0 auto; padding: 19px 15px; 
            .list__badge{display: flex; gap: 0.3rem;
                margin-bottom: 8px;
                p{display: flex; justify-content: center; align-items: center; font-size: 10px; font-weight: 700;  width: 43px; height: 19px; padding: 3px 6px 3px 6px; border-radius: 5px;}
                .list__title{ border: 1px solid #0396FC; color: #0396FC;}
                .list__skill01{background-color: #F7DF1E; color: #000;}
            }
            .study_name{
                font-size: 16px; font-weight: 700; margin-bottom: 8px;
            }
            .study_inner{
                display: flex; align-items: center; gap: 20px;
                .img_box{
                    width: 105px; height: 105px; border-radius: 10px;
                }
                .study_info{
                    display: flex; flex-direction: column; gap: 6px; font-size: 11px; font-weight: 400; color: #656668; 
                }
            }
        }
    }
}
