.blind {display: none !important;}

// img
img {width: 100%; height: 100%; object-fit: cover;}

// button
.btn {
  display: flex; flex-direction: column; gap: 1.6rem; position: absolute; bottom: 3.6rem; left: 0; width: 100%; padding: 0 2rem; background-color: #fff;

  &-outline {height: 5rem; border-radius: .4rem; text-align: center; line-height: 5rem; font-weight: 700;}
  &-bg {height: 5rem; border-radius: .4rem; text-align: center; line-height: 5rem; font-weight: 700;}
  // &-un {margin: 0 2rem;}
}
.btn-outline,
.btn-bg,
.btn-un {display: block; height: 5rem; border-radius: .4rem; text-align: center; line-height: 5rem; font-size: 1.4rem; letter-spacing: -.05rem; font-weight: 700;}
.btn-outline {background: #fff; border: .2rem solid #0396fc; color: #0396fc;}
.btn-bg {display: block; background: #0396fc; color: #fff;}
.btn-un {background: #f4f4f4; color: #666;}
.btn-outline {line-height: 4.6rem;}

.btn-small {
  width: 7.2rem; height: 3.6rem; border: none; border-radius: .4rem; background-color: #ccc; font-size: 1.4rem; color: #fff; cursor: pointer;

  &.on {background: #000;}
}

.btn.rebottom {
  position: relative; padding: 0 2rem 4rem 2rem;
}

//form
.form-box {
  &__inner {border: none;}
  &__title {display: none;}
}



// input
.input-box {position: relative; display: flex; align-items: center;}
.input-wrap {display: flex; justify-content: center; gap: 1.6rem; position: relative;}
.input-label {display: block; margin-bottom: .6rem; font-size: 1.4rem;}
.input-write,
.input-textarea {
  width: 100%; height: 3.6rem; margin-bottom: 1.6rem; padding: 0 .8rem; border: .1em solid #e5e5e5; border-radius: .4rem; color: #222;

  &:focus {
    border: 1px solid #222; outline: none; transition: border .2s ease-in-out;
  
    &::placeholder {visibility: hidden; color: #222;}
  }
  &--danger {margin-bottom: 4.1rem; border-color: #fc4e03 !important; color: #fc4e03;
  
    &::placeholder {color: #fc4e03;}
  }
}
.input-textarea {padding: .8rem;}
.input-eye {
  position: absolute; top: .6rem; right: 1.6rem; color: #c1c1c1;
  
  .input-eye__off {display: none;}
  svg {font-size: 2.4rem;}
}
.validity {position: absolute; bottom: 1.6rem; font-size: 1.2rem; color: #fc4e03;}



// select
.select-box {
  display: flex; flex-wrap: wrap; align-items: center; justify-content: start; gap: 1rem .4rem; margin-bottom: 1.6rem;

  &__radio {display: none;}
  &__text {padding: .4rem 1.2rem; border-radius: .4rem; border: 1px solid #e5e5e5; font-size: 1.4rem; color: #ccc; cursor: pointer;}
  
  &--figma:checked+label {background-color: #a259ff; color: #fff;}
  &--html:checked+label {background-color: #f15a29; color: #fff;}
  &--css:checked+label {background-color: #0396fc; color: #fff;}
  &--scss:checked+label {background-color: #cf649b; color: #fff;}
  &--javascript:checked+label {background-color: #f7df1e; color: #000;}
  &--react:checked+label {background-color: #02d9ff; color: #fff;}
  &--vue:checked+label {background-color: #435466; color: #4dba87;}
  &--typescript:checked+label {background: #3178c6; color: #fff;}
  
  &--planner:checked+label {background: #e8c36a; color: #fff;}
  &--designer:checked+label {background: #f16947; color: #fff;}
  &--developer:checked+label {background: #2a9d8e; color: #fff;}
  
  &:checked+label {border: 1px solid transparent;}
}

// skill-tag-box
.skill-tag-box {display: flex; flex-wrap: wrap; justify-content: flex-start; align-items: center; padding: 0 2rem; gap: .4rem; margin-bottom: 3.6rem;}
.skill-tag-box__item {}

.skill-tag {
	display: flex; justify-content: flex-start; align-items: center; gap: .3rem; font-size: 1.1rem; line-height: 1.5rem; margin-bottom: 1.6rem;
	span {border-radius: .5rem; padding: .1rem .6rem; font-weight: 700;}
	&--html {border: 1px solid #FB744A; background-color: #FB744A; color: #fff;}
	&--css {border: 1px solid #FBD44A; background-color: #FBD44A; color: #fff;}
	&--scss {border: 1px solid #CF649B; background-color: #CF649B; color: #fff;}
	&--javascript {border: 1px solid #F7DF1E; background-color: #F7DF1E; color: #000;}
	&--typescript {border: 1px solid #3178C6; background-color: #3178C6; color: #fff;}
	&--react {border: 1px solid #61DAFB; background-color: #61DAFB; color: #fff;}
	&--node {border: 1px solid #80BD01; background-color: #80BD01; color: #fff;}
	&--java {border: 1px solid #EC2025; background-color: #EC2025; color: #fff;}
	&--figma {border: 1px solid #FF7161; background-color: #FF7161; color: #fff;}
	&--xd {border: 1px solid #FF61F6; background-color: #FF61F6; color: #fff;}
	&--dart {border: 1px solid #00cbb2; background-color: #00cbb2; color: #fff;}
	&--flutter {border: 1px solid #5dc2ed; background-color: #5dc2ed; color: #fff;}
	&--ing {border: 1px solid #0396FC; color: #0396FC;}
	&--complate {border: 1px solid #aaa; color: #aaa;}
  }